@model IEnumerable<WebApplication1333333.Models.Company>
@{
    ViewData["Title"] = "Company";
}
<h1>@ViewData["Title"]</h1>

<p>Company</p>
@* <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Email</th>
            <th>Group Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.Discription</td>
                <td>@company.Adress</td>
                <td>@company.Email</td>
                <td>@company.NamberGroup</td>
            </tr>
        }
    </tbody>
</table> *@
<p>The random number is: @ViewBag.RandomNumber</p>